html {
    scroll-behavior: smooth;
  }
  
  body
  {
    margin: 20px;
    font-size: 16px;
    min-width: 600px;
    padding: 0px 0px;
    background-color: #184A96;
    color: #eee;
    font-family: 'Open Sans', sans-serif;
      
  }
  .menu a
  {
      color: #fd7;
      text-decoration: none;
      display: block;
      padding: 10px 15px;
      margin-right: 5px;
  }
  
  .menu a:hover
  {
      background-color: #049;
      color: #fd7;
  }

  a:link {
    color:#fd7;
}

/* visited link */
a:visited {
    color:#fd7;
}

/* mouse over link */
a:hover {
    color: #9df;
}

/* selected link */
a:active {
    color: #eee;
}
  h1
  {
      font-size: 28px;
      font-weight: 400;
      color: #fd7;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
  }
  
  h2
  {
      font-size: 20px;
      font-weight: 400;
      color: #fd7;
  }
  
  form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, button {
    margin-bottom: 10px;
}

  
  

  